/* App.vue의 푸터 스타일 (src/styles/TheFooter.scss) */
.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  border-top: 1px solid #eee;
  color: #666;
  font-size: 0.9em;
}

.app-footer .logo {
  height: 2em; /* 푸터에 맞게 아이콘 크기 조절 */
  margin: 0 10px;
  will-change: filter;
  transition: filter 300ms;
}

.app-footer .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Vite 로고 hover 효과 */
}

.app-footer .vue-logo:hover {
  filter: drop-shadow(0 0 2em #42b883aa); /* Vue 로고 hover 효과 */
}